body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #f8f8f8;
}
p {
  margin-bottom: 15px;
}
p, pre, table {
  margin-left: 20px;
}
.note p {
  margin-left: 0;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin: 20px 0 10px 0;
  font-weight: 600;
}
h2+h3 {
  margin-top: 0;
}
h1, .h1 {
  margin-top: 30px;
}
h2, .h2 {
  font-size: 24px;
}
h2.banner {
  background-color: #eee;
  border-left: solid 6px #e0e0e0;
  margin: 20px 0;
  padding: 6px 10px;
}
h3, .h3 {
  border-bottom: 1px dotted #ccf;
  border-top: 1px dotted #ccf;
  color: #336;
  display: inline-block;
  font-size: 20px;
  margin: 0 0 15px 20px;
  padding: 2px 0;
}
h5 {
  color: #999;
  font-size: 12px;
  margin: 10px 0 0 10px;
}
h6 {
  border-top: 1px solid #ccc;
  font-size: 11px;
  font-weight: bold;
  margin-top: 20px;
  padding-top: 5px;
}
ul ul {
  margin-left: 0px;
  padding-left: 1em;
  font-size: 90%;
}
.slack-float {
  position: relative;
  float: right;
  margin-left: 30px;
}
table, .table {
  width: auto;
}
.table>thead>tr>th,
.table>tbody>tr>td {
  text-align: center;
}
.table>tbody>tr>td {
  vertical-align: middle;
}
.table>tfoot>tr>td {
  font-size: 12px;
}
.table>tbody>tr>td.wrapped {
  max-width: 500px;
  text-align: left;
}
.table>tbody>tr>td.wrapped-wide {
  max-width: 650px;
  text-align: left;
}
.table .title {
  background-color: #aae;
  font-size: 20px;
  font-weight: bold;
}
.table p {
  margin: 0;
}
.table p+p {
  margin-top: 15px;
}
.note .table>thead>tr>th {
  border-bottom: 2px solid #9c9;
  text-align: left;
}
.note .table>tbody>tr>td {
  border-top: 1px solid #9c9;
  text-align: left;
}
.note .table td.tall {
  border-left: 1px solid #9c9;
  vertical-align: middle;
}
.table.latest th,
.table.latest td {
  text-align: left;
}
.smaller {
  font-size: 90%;
}
.border {
  display: inline-block;
  margin-left: 15px;
  box-shadow: 3px 3px 20px #666;
}
ol {
  margin-left: 5px;
}
li p, blockquote p {
  margin-left: 0;
}
pre, code {
  background-color: #faf7f0;
  font-family: Inconsolata, monospace;
  font-weight: 400;
  font-size: 15px;
}
h1+h2 {
  margin-top: -0.25em;
  margin-bottom: 1em;
}
h2 code {
  background: inherit;
  color: inherit;
  font-size: inherit;
}
a code {
  text-decoration: underline;
}
th code {
  margin-left: -4px;
}
blockquote {
  padding: 2px 10px;
  margin: 0 0 15px 40px;
  font-size: 14px;
}
li>blockquote {
  margin: 0;
  font-style: italic;
  font-size: 13px;
}
blockquote.padded {
  margin: 8px 0 8px 15px;
}
.navbar-inverse {
  background-color: #c0c7c4;
  border: 0;
  border-radius: 0;
}
.navbar-inverse .navbar-brand {
  color: #333;
  height: 65px;
}
.navbar-inverse .navbar-brand:hover {
  color: inherit;
}
.navbar-brand {
  font-size: 24px;
  margin-bottom: 0;
  line-height: 29px;
}
.navbar-brand a {
  color: inherit;
}
.navbar-brand img {
  float: left;
  margin-right: 8px;
}
.navbar {
  margin-bottom: 0;
}
.related-topics {
  font-size: 20px;
  color: #c66;
  font-style: italic;
  margin: 20px 0 10px 0;
}
.important {
  background-color: #fcc;
  border-radius: 5px;
  box-shadow: 5px 5px 3px #888;
  padding: 5px 10px;
}
.important code {
  background-color: #ebb;
  color: #633;
}
.note {
  background-color: #dfd;
  border-radius: 0 0 5px 5px;
  box-shadow: 5px 5px 3px #888;
  padding: 0 10px 5px 10px;
}
.note:before {
  background-color: #cec;
  content: "N O T E";
  font-weight: bold;
  font-size: 120%;
  display: block;
  font-style: italic;
  color: #060;
  padding: 2px 10px;
  margin: 0 -10px 5px -10px;
  border-bottom: solid 1px #bdb;
}
.note code {
  background-color: #cec;
  color: #363;
}
.version-selector {
  color: #666;
  font-size: 95%;
  font-weight: normal;
  margin: 10px 0 10px 20px;
  vertical-align: middle;
}
.version-selector input {
  margin-left: 10px;
}
.version-pre,
.version-ci {
  display: none;
}
.release-more,
.prerelease-more {
  display: none;
}
.release,
.prerelease {
  border: none;
  border-radius: 3px;
  color: White;
  display: inline-block;
  padding: 2px 8px;
  margin-right: 5px;
}
.release {
  background-color: #6cc644;
}
.prerelease {
  background-color: #c9510c;
}
.table.releases th,
.table.releases td {
  text-align: left;
  vertical-align: middle;
}
.release:hover,
.prerelease:hover {
  color: White;
}
.paperclip {
  float: right;
  color: #000;
  background-color: #f8f8f8;
  border: none;
  border-radius: 5px;
  padding: 0 2px;
}
.paperclip:hover {
  text-decoration: none;
}