[submodule "src/xunit.assert/Asserts"]
	path = src/xunit.assert/Asserts
	url = https://github.com/xunit/assert.xunit
[submodule "tools/build"]
	path = tools/build
	url = https://github.com/xunit/build-tools
[submodule "tools/media"]
	path = tools/media
	url = https://github.com/xunit/media
