[Bb]in
[Oo]bj
packages
help
AppPackages
TestResults

*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
*.ide
*.zip
*.suo
*.user
*.cache
*.nupkg
*.exe
*.dll
*.ncrunch*
*.vsix

*.vsps
*.vspx
*.vsp
*.psess

Test*.html
Test*.xml

Index.dat
Storage.dat
