<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="Public Feed" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Dev Packages (xunit)" value="http://www.myget.org/F/b4ff5f68eccf4f6bbfed74f055f88d8f/" />
  </packageSources>
</configuration>
