<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xunit.diagnosticMessages" value="blarch"/>
    <add key="xunit.internalDiagnosticMessages" value="blarch"/>
    <add key="xunit.maxParallelThreads" value="abc"/>
    <add key="xunit.methodDisplay" value="fooBar"/>
    <add key="xunit.methodDisplayOptions" value="fooBar"/>
    <!-- Leave this one valid, and different, so we know we're actually
         attempting to parse the values from this file -->
    <add key="xunit.parallelizeAssembly" value="true"/>
    <add key="xunit.parallelizeTestCollections" value="biff"/>
    <add key="xunit.preEnumerateTheories" value="baz"/>
  </appSettings>
</configuration>