<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="xunit.diagnosticMessages" value="true"/>
    <add key="xunit.internalDiagnosticMessages" value="true"/>
    <add key="xunit.maxParallelThreads" value="2112"/>
    <add key="xunit.methodDisplay" value="method"/>
    <add key="xunit.methodDisplayOptions" value="all"/>
    <add key="xunit.parallelizeAssembly" value="true"/>
    <!-- One with incorrect case just to make sure we're case insensitive -->
    <add key="xunit.parallelizetestcollections" value="false"/>
    <add key="xunit.preEnumerateTheories" value="false"/>
    <add key="xunit.longRunningTestSeconds" value="5"/>
  </appSettings>
</configuration>
