<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="test.xunit.runner.android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="7" />
	<application android:label="test.xunit.runner.android" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>