<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Empty rules" Description="Turns off all FxCop rules, making it easier to run full solution analysis." ToolsVersion="14.0">
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0028" Action="None" />
    <Rule Id="CS0067" Action="None" />
    <Rule Id="CS0078" Action="None" />
    <Rule Id="CS0105" Action="None" />
    <Rule Id="CS0108" Action="None" />
    <Rule Id="CS0109" Action="None" />
    <Rule Id="CS0114" Action="None" />
    <Rule Id="CS0162" Action="None" />
    <Rule Id="CS0164" Action="None" />
    <Rule Id="CS0168" Action="None" />
    <Rule Id="CS0183" Action="None" />
    <Rule Id="CS0184" Action="None" />
    <Rule Id="CS0197" Action="None" />
    <Rule Id="CS0219" Action="None" />
    <Rule Id="CS0251" Action="None" />
    <Rule Id="CS0252" Action="None" />
    <Rule Id="CS0253" Action="None" />
    <Rule Id="CS0278" Action="None" />
    <Rule Id="CS0279" Action="None" />
    <Rule Id="CS0280" Action="None" />
    <Rule Id="CS0282" Action="None" />
    <Rule Id="CS0402" Action="None" />
    <Rule Id="CS0419" Action="None" />
    <Rule Id="CS0420" Action="None" />
    <Rule Id="CS0435" Action="None" />
    <Rule Id="CS0436" Action="None" />
    <Rule Id="CS0437" Action="None" />
    <Rule Id="CS0440" Action="None" />
    <Rule Id="CS0458" Action="None" />
    <Rule Id="CS0464" Action="None" />
    <Rule Id="CS0465" Action="None" />
    <Rule Id="CS0469" Action="None" />
    <Rule Id="CS0472" Action="None" />
    <Rule Id="CS0473" Action="None" />
    <Rule Id="CS0612" Action="None" />
    <Rule Id="CS0618" Action="None" />
    <Rule Id="CS0626" Action="None" />
    <Rule Id="CS0628" Action="None" />
    <Rule Id="CS0642" Action="None" />
    <Rule Id="CS0652" Action="None" />
    <Rule Id="CS0657" Action="None" />
    <Rule Id="CS0658" Action="None" />
    <Rule Id="CS0659" Action="None" />
    <Rule Id="CS0660" Action="None" />
    <Rule Id="CS0661" Action="None" />
    <Rule Id="CS0665" Action="None" />
    <Rule Id="CS0672" Action="None" />
    <Rule Id="CS0675" Action="None" />
    <Rule Id="CS0684" Action="None" />
    <Rule Id="CS0693" Action="None" />
    <Rule Id="CS0728" Action="None" />
    <Rule Id="CS0809" Action="None" />
    <Rule Id="CS0811" Action="None" />
    <Rule Id="CS0824" Action="None" />
    <Rule Id="CS1030" Action="None" />
    <Rule Id="CS1058" Action="None" />
    <Rule Id="CS1062" Action="None" />
    <Rule Id="CS1064" Action="None" />
    <Rule Id="CS1066" Action="None" />
    <Rule Id="CS1072" Action="None" />
    <Rule Id="CS1522" Action="None" />
    <Rule Id="CS1570" Action="None" />
    <Rule Id="CS1571" Action="None" />
    <Rule Id="CS1572" Action="None" />
    <Rule Id="CS1573" Action="None" />
    <Rule Id="CS1574" Action="None" />
    <Rule Id="CS1580" Action="None" />
    <Rule Id="CS1581" Action="None" />
    <Rule Id="CS1584" Action="None" />
    <Rule Id="CS1587" Action="None" />
    <Rule Id="CS1589" Action="None" />
    <Rule Id="CS1590" Action="None" />
    <Rule Id="CS1591" Action="None" />
    <Rule Id="CS1592" Action="None" />
    <Rule Id="CS1616" Action="None" />
    <Rule Id="CS1633" Action="None" />
    <Rule Id="CS1634" Action="None" />
    <Rule Id="CS1635" Action="None" />
    <Rule Id="CS1645" Action="None" />
    <Rule Id="CS1658" Action="None" />
    <Rule Id="CS1668" Action="None" />
    <Rule Id="CS1685" Action="None" />
    <Rule Id="CS1687" Action="None" />
    <Rule Id="CS1690" Action="None" />
    <Rule Id="CS1692" Action="None" />
    <Rule Id="CS1695" Action="None" />
    <Rule Id="CS1696" Action="None" />
    <Rule Id="CS1697" Action="None" />
    <Rule Id="CS1700" Action="None" />
    <Rule Id="CS1701" Action="None" />
    <Rule Id="CS1702" Action="None" />
    <Rule Id="CS1710" Action="None" />
    <Rule Id="CS1711" Action="None" />
    <Rule Id="CS1712" Action="None" />
    <Rule Id="CS1717" Action="None" />
    <Rule Id="CS1718" Action="None" />
    <Rule Id="CS1720" Action="None" />
    <Rule Id="CS1723" Action="None" />
    <Rule Id="CS1734" Action="None" />
    <Rule Id="CS1735" Action="None" />
    <Rule Id="CS1762" Action="None" />
    <Rule Id="CS1927" Action="None" />
    <Rule Id="CS1956" Action="None" />
    <Rule Id="CS1957" Action="None" />
    <Rule Id="CS1974" Action="None" />
    <Rule Id="CS1981" Action="None" />
    <Rule Id="CS1998" Action="None" />
    <Rule Id="CS2002" Action="None" />
    <Rule Id="CS2008" Action="None" />
    <Rule Id="CS2023" Action="None" />
    <Rule Id="CS2029" Action="None" />
    <Rule Id="CS2038" Action="None" />
    <Rule Id="CS3000" Action="None" />
    <Rule Id="CS3001" Action="None" />
    <Rule Id="CS3002" Action="None" />
    <Rule Id="CS3003" Action="None" />
    <Rule Id="CS3005" Action="None" />
    <Rule Id="CS3006" Action="None" />
    <Rule Id="CS3007" Action="None" />
    <Rule Id="CS3008" Action="None" />
    <Rule Id="CS3009" Action="None" />
    <Rule Id="CS3010" Action="None" />
    <Rule Id="CS3011" Action="None" />
    <Rule Id="CS3012" Action="None" />
    <Rule Id="CS3013" Action="None" />
    <Rule Id="CS3014" Action="None" />
    <Rule Id="CS3015" Action="None" />
    <Rule Id="CS3016" Action="None" />
    <Rule Id="CS3017" Action="None" />
    <Rule Id="CS3018" Action="None" />
    <Rule Id="CS3019" Action="None" />
    <Rule Id="CS3021" Action="None" />
    <Rule Id="CS3022" Action="None" />
    <Rule Id="CS3023" Action="None" />
    <Rule Id="CS3024" Action="None" />
    <Rule Id="CS3026" Action="None" />
    <Rule Id="CS3027" Action="None" />
    <Rule Id="CS4014" Action="None" />
    <Rule Id="CS4024" Action="None" />
    <Rule Id="CS4025" Action="None" />
    <Rule Id="CS4026" Action="None" />
    <Rule Id="CS7022" Action="None" />
    <Rule Id="CS7033" Action="None" />
    <Rule Id="CS7035" Action="None" />
    <Rule Id="CS7080" Action="None" />
    <Rule Id="CS7081" Action="None" />
    <Rule Id="CS7082" Action="None" />
    <Rule Id="CS7090" Action="None" />
    <Rule Id="CS7095" Action="None" />
    <Rule Id="CS8001" Action="None" />
    <Rule Id="CS8002" Action="None" />
    <Rule Id="CS8009" Action="None" />
    <Rule Id="CS8012" Action="None" />
    <Rule Id="CS8018" Action="None" />
    <Rule Id="CS8019" Action="None" />
    <Rule Id="CS8020" Action="None" />
    <Rule Id="CS8021" Action="None" />
    <Rule Id="CS8029" Action="None" />
    <Rule Id="CS8032" Action="None" />
    <Rule Id="CS8033" Action="None" />
    <Rule Id="CS8034" Action="None" />
    <Rule Id="CS8040" Action="None" />
    <Rule Id="CS8073" Action="None" />
    <Rule Id="CS8094" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0005" Action="None" />
  </Rules>
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="CS0126ReturnMustBeFollowedByAnyExpression" Action="None" />
    <Rule Id="CS0169FieldIsNeverUsedAnalyzer" Action="None" />
    <Rule Id="CS0183ExpressionIsAlwaysOfProvidedTypeAnalyzer" Action="None" />
    <Rule Id="CS0618UsageOfObsoleteMemberAnalyzer" Action="None" />
    <Rule Id="CS1573ParameterHasNoMatchingParamTagAnalyzer" Action="None" />
    <Rule Id="CS1717AssignmentMadeToSameVariableAnalyzer" Action="None" />
    <Rule Id="CS1729TypeHasNoConstructorWithNArgumentsAnalyzer" Action="None" />
    <Rule Id="ExpressionIsNeverOfProvidedTypeAnalyzer" Action="None" />
    <Rule Id="InconsistentNaming" Action="None" />
    <Rule Id="MissingInterfaceMemberImplementationAnalyzer" Action="None" />
    <Rule Id="ProhibitedModifiersAnalyzer" Action="None" />
    <Rule Id="RECS0001" Action="None" />
    <Rule Id="RECS0002" Action="None" />
    <Rule Id="RECS0003" Action="None" />
    <Rule Id="RECS0004" Action="None" />
    <Rule Id="RECS0005" Action="None" />
    <Rule Id="RECS0006" Action="None" />
    <Rule Id="RECS0007" Action="None" />
    <Rule Id="RECS0008" Action="None" />
    <Rule Id="RECS0009" Action="None" />
    <Rule Id="RECS0010" Action="None" />
    <Rule Id="RECS0011" Action="None" />
    <Rule Id="RECS0012" Action="None" />
    <Rule Id="RECS0013" Action="None" />
    <Rule Id="RECS0014" Action="None" />
    <Rule Id="RECS0015" Action="None" />
    <Rule Id="RECS0016" Action="None" />
    <Rule Id="RECS0017" Action="None" />
    <Rule Id="RECS0018" Action="None" />
    <Rule Id="RECS0019" Action="None" />
    <Rule Id="RECS0020" Action="None" />
    <Rule Id="RECS0021" Action="None" />
    <Rule Id="RECS0022" Action="None" />
    <Rule Id="RECS0023" Action="None" />
    <Rule Id="RECS0024" Action="None" />
    <Rule Id="RECS0025" Action="None" />
    <Rule Id="RECS0026" Action="None" />
    <Rule Id="RECS0027" Action="None" />
    <Rule Id="RECS0028" Action="None" />
    <Rule Id="RECS0029" Action="None" />
    <Rule Id="RECS0030" Action="None" />
    <Rule Id="RECS0031" Action="None" />
    <Rule Id="RECS0032" Action="None" />
    <Rule Id="RECS0033" Action="None" />
    <Rule Id="RECS0034" Action="None" />
    <Rule Id="RECS0035" Action="None" />
    <Rule Id="RECS0036" Action="None" />
    <Rule Id="RECS0037" Action="None" />
    <Rule Id="RECS0038" Action="None" />
    <Rule Id="RECS0039" Action="None" />
    <Rule Id="RECS0040" Action="None" />
    <Rule Id="RECS0041" Action="None" />
    <Rule Id="RECS0042" Action="None" />
    <Rule Id="RECS0043" Action="None" />
    <Rule Id="RECS0044" Action="None" />
    <Rule Id="RECS0045" Action="None" />
    <Rule Id="RECS0046" Action="None" />
    <Rule Id="RECS0047" Action="None" />
    <Rule Id="RECS0048" Action="None" />
    <Rule Id="RECS0049" Action="None" />
    <Rule Id="RECS0050" Action="None" />
    <Rule Id="RECS0051" Action="None" />
    <Rule Id="RECS0052" Action="None" />
    <Rule Id="RECS0053" Action="None" />
    <Rule Id="RECS0054" Action="None" />
    <Rule Id="RECS0055" Action="None" />
    <Rule Id="RECS0056" Action="None" />
    <Rule Id="RECS0057" Action="None" />
    <Rule Id="RECS0058" Action="None" />
    <Rule Id="RECS0059" Action="None" />
    <Rule Id="RECS0060" Action="None" />
    <Rule Id="RECS0061" Action="None" />
    <Rule Id="RECS0062" Action="None" />
    <Rule Id="RECS0063" Action="None" />
    <Rule Id="RECS0064" Action="None" />
    <Rule Id="RECS0065" Action="None" />
    <Rule Id="RECS0066" Action="None" />
    <Rule Id="RECS0067" Action="None" />
    <Rule Id="RECS0068" Action="None" />
    <Rule Id="RECS0069" Action="None" />
    <Rule Id="RECS0070" Action="None" />
    <Rule Id="RECS0071" Action="None" />
    <Rule Id="RECS0072" Action="None" />
    <Rule Id="RECS0073" Action="None" />
    <Rule Id="RECS0074" Action="None" />
    <Rule Id="RECS0075" Action="None" />
    <Rule Id="RECS0076" Action="None" />
    <Rule Id="RECS0077" Action="None" />
    <Rule Id="RECS0078" Action="None" />
    <Rule Id="RECS0079" Action="None" />
    <Rule Id="RECS0080" Action="None" />
    <Rule Id="RECS0081" Action="None" />
    <Rule Id="RECS0082" Action="None" />
    <Rule Id="RECS0083" Action="None" />
    <Rule Id="RECS0084" Action="None" />
    <Rule Id="RECS0085" Action="None" />
    <Rule Id="RECS0086" Action="None" />
    <Rule Id="RECS0087" Action="None" />
    <Rule Id="RECS0088" Action="None" />
    <Rule Id="RECS0089" Action="None" />
    <Rule Id="RECS0090" Action="None" />
    <Rule Id="RECS0091" Action="None" />
    <Rule Id="RECS0092" Action="None" />
    <Rule Id="RECS0093" Action="None" />
    <Rule Id="RECS0094" Action="None" />
    <Rule Id="RECS0095" Action="None" />
    <Rule Id="RECS0096" Action="None" />
    <Rule Id="RECS0097" Action="None" />
    <Rule Id="RECS0098" Action="None" />
    <Rule Id="RECS0099" Action="None" />
    <Rule Id="RECS0100" Action="None" />
    <Rule Id="RECS0101" Action="None" />
    <Rule Id="RECS0102" Action="None" />
    <Rule Id="RECS0103" Action="None" />
    <Rule Id="RECS0104" Action="None" />
    <Rule Id="RECS0105" Action="None" />
    <Rule Id="RECS0106" Action="None" />
    <Rule Id="RECS0107" Action="None" />
    <Rule Id="RECS0108" Action="None" />
    <Rule Id="RECS0109" Action="None" />
    <Rule Id="RECS0110" Action="None" />
    <Rule Id="RECS0111" Action="None" />
    <Rule Id="RECS0112" Action="None" />
    <Rule Id="RECS0113" Action="None" />
    <Rule Id="RECS0114" Action="None" />
    <Rule Id="RECS0115" Action="None" />
    <Rule Id="RECS0116" Action="None" />
    <Rule Id="RECS0117" Action="None" />
    <Rule Id="RECS0118" Action="None" />
    <Rule Id="RECS0119" Action="None" />
    <Rule Id="RECS0120" Action="None" />
    <Rule Id="RECS0121" Action="None" />
    <Rule Id="RECS0122" Action="None" />
    <Rule Id="RECS0123" Action="None" />
    <Rule Id="RECS0124" Action="None" />
    <Rule Id="RECS0125" Action="None" />
    <Rule Id="RECS0126" Action="None" />
    <Rule Id="RECS0127" Action="None" />
    <Rule Id="RECS0128" Action="None" />
    <Rule Id="RECS0129" Action="None" />
    <Rule Id="RECS0130" Action="None" />
    <Rule Id="RECS0131" Action="None" />
    <Rule Id="RECS0132" Action="None" />
    <Rule Id="RECS0133" Action="None" />
    <Rule Id="RECS0134" Action="None" />
    <Rule Id="RECS0135" Action="None" />
    <Rule Id="RECS0136" Action="None" />
    <Rule Id="RECS0137" Action="None" />
    <Rule Id="RECS0138" Action="None" />
    <Rule Id="RECS0139" Action="None" />
    <Rule Id="RECS0140" Action="None" />
    <Rule Id="RECS0141" Action="None" />
    <Rule Id="RECS0142" Action="None" />
    <Rule Id="RECS0143" Action="None" />
    <Rule Id="RECS0144" Action="None" />
    <Rule Id="RECS0145" Action="None" />
    <Rule Id="RECS0146" Action="None" />
    <Rule Id="RECS0147" Action="None" />
    <Rule Id="RECS0148" Action="None" />
    <Rule Id="RECS0149" Action="None" />
    <Rule Id="RECS0151" Action="None" />
    <Rule Id="RECS0152" Action="None" />
    <Rule Id="RECS0153" Action="None" />
    <Rule Id="RECS0154" Action="None" />
    <Rule Id="RECS0155" Action="None" />
    <Rule Id="RECS0156" Action="None" />
    <Rule Id="RECS0157" Action="None" />
    <Rule Id="RECS0158" Action="None" />
    <Rule Id="RECS0159" Action="None" />
    <Rule Id="RECS0160" Action="None" />
    <Rule Id="RECS0161" Action="None" />
    <Rule Id="RECS0162" Action="None" />
    <Rule Id="RECS0163" Action="None" />
    <Rule Id="RECS0164" Action="None" />
  </Rules>
</RuleSet>