<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FxCop rules for xUnit.net" Description="Rules for running FxCop against xUnit.net framework assemblies" ToolsVersion="11.0">
  <IncludeAll Action="Error" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1002" Action="None" />
    <Rule Id="CA1063" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1813" Action="None" />
    <Rule Id="CA1816" Action="None" />
  </Rules>
</RuleSet>