name: xUnit.net PR Build
on:
  - pull_request
  - workflow_dispatch

jobs:
  build:
    name: "Build for PR"
    runs-on: ${{ matrix.os }}
    env:
      DOTNET_NOLOGO: true
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-18.04, macOS-latest]
    steps:
      - name: Clone source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Add MSBuild to PATH (Windows)
        uses: microsoft/setup-msbuild@v1.0.2
        if: matrix.os == 'windows-latest'

      - name: Install .NET Core SDK 2.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '2.1.x'

      - name: Install .NET Core SDK 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'

      - name: Install .NET SDK 5.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'

      - name: Get .NET information
        run: dotnet --info

      - name: "Build target: PR"
        run: dotnet run --project tools/builder --no-launch-profile -- PR --timing

      - name: "Upload artifact: test-${{ matrix.os }}"
        uses: actions/upload-artifact@v2
        with:
          name: test-${{ matrix.os }}
          path: artifacts/test
        if: always()
