name: xUnit.net CI Build
on:
  push:
    branches:
      - main
      - 'rel/**'
  workflow_dispatch:

jobs:
  build:
    name: "CI Build"
    runs-on: ubuntu-18.04
    env:
      DOTNET_NOLOGO: true
    steps:
      - name: Clone source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install .NET Core SDK 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1.x'

      - name: Install .NET SDK 6.0
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0.x'

      - name: Get .NET information
        run: dotnet --info

      - name: "Build target: CI"
        env:
          PublishToken: ${{ secrets.PublishToken }}
          SignClientUser: ${{ secrets.SignClientUser }}
          SignClientSecret: ${{ secrets.SignClientSecret }}
        run: dotnet run --project tools/builder --no-launch-profile -- CI --timing

      - name: "Upload artifact: test"
        uses: actions/upload-artifact@v2
        with:
          name: test
          path: artifacts/test
        if: always()

      - name: "Upload artifact: packages"
        uses: actions/upload-artifact@v2
        with:
          name: packages
          path: artifacts/packages
        if: always()
