name: xUnit.net CI Build (v2)
on:
  push:
    branches:
      - v2
  workflow_dispatch:

jobs:
  build:
    name: "CI Build"
    runs-on: windows-2022
    env:
      DOTNET_NOLOGO: true
    steps:
      - name: Clone source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: true

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            2.1.x
            3.1.x
            6.0.x

      - name: Get .NET information
        run: dotnet --info

      - name: "Build target: CI"
        env:
          PUSH_APIKEY: ${{ secrets.PUSH_APIKEY }}
          PUSH_URI: ${{ secrets.PUSH_URI }}
          SIGN_APP_ID: ${{ secrets.SIGN_APP_ID }}
          SIGN_APP_SECRET: ${{ secrets.SIGN_APP_SECRET }}
          SIGN_CERT_NAME: ${{ secrets.SIGN_CERT_NAME }}
          SIGN_SUBSCRIPTION: ${{ secrets.SIGN_SUBSCRIPTION }}
          SIGN_TENANT: ${{ secrets.SIGN_TENANT }}
          SIGN_TIMESTAMP_URI: ${{ secrets.SIGN_TIMESTAMP_URI }}
          SIGN_VAULT_URI: ${{ secrets.SIGN_VAULT_URI }}
        run: .\build.ps1 -target CI

      - name: "Upload artifact: test-results"
        uses: actions/upload-artifact@v3
        with:
          name: test-results
          path: artifacts/test
        if: always()

      - name: "Upload artifact: packages"
        uses: actions/upload-artifact@v3
        with:
          name: packages
          path: artifacts/packages
        if: always()
