name: "xUnit.net CI Build (main)"
on:
  push:
    branches:
      - main
      - 'rel/**'
  workflow_dispatch:

jobs:
  build:
    name: "Build"
    runs-on: windows-2022
    env:
      DOTNET_CLI_WORKLOAD_UPDATE_NOTIFY_DISABLE: true
      DOTNET_NOLOGO: true
    steps:
      - name: Clone source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2

      - name: Install .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            8.0.x
            9.0.x

      - name: Get .NET information
        run: dotnet --info
        continue-on-error: true

      - name: Switch to detached HEAD
        run: "git switch --detach HEAD ; git submodule foreach 'git switch --detach HEAD'"

      - name: "Build target: BuildAll & DocFX & PublishPackages"
        env:
          PUSH_APIKEY: ${{ secrets.PUSH_APIKEY }}
          PUSH_URI: ${{ secrets.PUSH_URI }}
          SIGN_APP_ID: ${{ secrets.SIGN_APP_ID }}
          SIGN_APP_SECRET: ${{ secrets.SIGN_APP_SECRET }}
          SIGN_CERT_NAME: ${{ secrets.SIGN_CERT_NAME }}
          SIGN_SUBSCRIPTION: ${{ secrets.SIGN_SUBSCRIPTION }}
          SIGN_TENANT: ${{ secrets.SIGN_TENANT }}
          SIGN_TIMESTAMP_URI: ${{ secrets.SIGN_TIMESTAMP_URI }}
          SIGN_VAULT_URI: ${{ secrets.SIGN_VAULT_URI }}
        run: dotnet run --project tools/builder --no-launch-profile -- BuildAll DocFX PublishPackages --timing --no-x86

      - name: "Upload artifact: docfx"
        uses: actions/upload-artifact@v4
        with:
          name: docfx
          path: artifacts/docfx
          include-hidden-files: true
          compression-level: 9
        if: always()

      - name: "Upload artifact: test"
        uses: actions/upload-artifact@v4
        with:
          name: test
          path: artifacts/test
          compression-level: 9
        if: always()

      - name: "Upload artifact: packages"
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: artifacts/packages
          compression-level: 0
        if: always()
