<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" />
			</dependentAssembly>
			<bindingRedirect oldVersion="0.0.0.0-4.5.4" newVersion="4.5.4" />
		</assemblyBinding>
	</runtime>
</configuration>
